<div class="container">
  <h1>
    Population Dashboard
  </h1>

  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="current-world-population">See current world population</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="population-all-countries">See top 20 largest population
      </a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>